# Python virtual environments
bootstrap/.venv/
.venv/
venv/
ENV/
env/
env.bak/

# pip cache and wheels
*.egg-info/
dist/
build/
pip-wheel-metadata/
bootstrap/packages/

# Editor/OS files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
Thumbs.db
